

$main_light: #E2F4C5;
$main_dark: #496989;
$secondary_light: #A8CD9F;
$secondary_dark: #58A399;
$tertiary: #d0891d;
$text: #222222;



$body-background-color: $main_light;
$body-heading-color: $secondary_dark;
$body-text-color: $text;

$link-color: $tertiary;

$nav-child-link-color: $secondary_dark;
$sidebar-color: $secondary_light;

$base-button-color: #f7f7f7;
$btn-primary-color: $tertiary;

$feedback-color: darken($sidebar-color, 3%);

$code-background-color: $main_light;
$table-background-color: $main_dark;

$search-background-color: $main_light;
$search-result-preview-color: $main_dark;
