

$main_light: #FEFAF6;
$main_dark: #102C57;
$secondary_light: #EADBC8;
$secondary_dark: #DAC0A3;
$tertiary: #d0891d;
$text: #222222;



$body-background-color: $main_light;
$body-heading-color: #d0891d;
$body-text-color: $text;

$link-color: #102C57;

$nav-child-link-color: $secondary_dark;
$sidebar-color: $secondary_light;

$base-button-color: #f7f7f7;
$btn-primary-color: $tertiary;

$feedback-color: darken($sidebar-color, 3%);

$code-background-color: $main_light;
$table-background-color: $main_dark;

$search-background-color: $main_light;
$search-result-preview-color: $main_dark;
